# Apply Sentiment Analysis to Review Dataframe

In [8]:
from dotenv import load_dotenv
import os
from openai import OpenAI
import pandas as pd

In [9]:
load_dotenv()
OPENAI_API_KEY = os.getenv('OPENAI_API_KEY')
client = OpenAI(api_key=OPENAI_API_KEY)

In [10]:
def analyze_sentiment(text):
    """
    Uses OpenAI's API to classify sentiment of the given text.

    :param text: The text to analyze
    :return: Sentiment category (e.g., 'anger', 'joy', 'neutral', etc.)
    """
    response = client.chat.completions.create(
        model="gpt-3.5-turbo",  # Use "gpt-3.5-turbo" if you want a cheaper option
        messages=[
            {"role": "system", "content": "You are a helpful assistant that classifies sentiment. You only respond using one word being the predicted sentiment and that sentiment can only be one of the following 'anger', 'disgust', 'fear', 'joy', 'neutral', 'sadness', 'surprise'"},
            {"role": "user", "content": f"Classify the sentiment of this text into one of these categories: 'anger', 'disgust', 'fear', 'joy', 'neutral', 'sadness', 'surprise'. Text: {text}"}
        ],
        temperature=0,  # Ensures more consistent responses
        max_tokens=5  # We only need a single-word response
    )

    sentiment = response.choices[0].message.content.strip()
    return sentiment

# Example usage
text = "Bra lÃ¤ge, fina rum och trevlig personal Inget"
sentiment = analyze_sentiment(text)
print(f"Sentiment: {sentiment}")

Sentiment: joy

In [11]:
# load reviews dataset
bantry_bay_reviews = pd.read_csv('output/bantry_aparthotel.csv')
bantry_bay_reviews.head()

,hotel_id,source_id,hotel_name,source_name,positive review,negative review,review rating,reviewer name,reviewer country,review sentiment,reviewer check in date,review created date,apartment type,number of nights stay,group type,review feedback
0,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,"great location, nice staff, excellent breakfast",NaN,10.0,Peter,Slovakia,NaN,September 2024,"September 19, 2024",Standard Studio Sea View,6,Group,"Dear Peter,\n\nThank you for your outstanding ..."
1,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,"Big airy light filled rooms, small but nice po...",NaN,9.0,Yvonne,Ireland,NaN,February 2025,"February 18, 2025",Standard Studio,4,Couple,NaN
2,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,The place is really nice. We had great view ov...,Could have had a couple of chairs on the balcony.,9.0,Lena,Sweden,NaN,February 2025,"February 18, 2025",Standard Studio Sea View,2,Family,NaN
3,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,Everything you need is at the hotel and the lo...,NaN,10.0,Alexis,South Africa,NaN,February 2025,"February 17, 2025",Standard Studio Sea View,3,Couple,"Dear Alexis,\n\nThank you for your fantastic r..."
4,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,Great spot for a last minute trip,NaN,8.0,Mohsen,United Kingdom,NaN,February 2025,"February 17, 2025",Standard Studio Sea View,3,Couple,"Dear Mohsen,\n\nThank you for your review! We’..."

In [12]:
bantry_bay_reviews['combined_review'] = "Positive: " + bantry_bay_reviews['positive review'].fillna('') + " Negative: " + bantry_bay_reviews['negative review'].fillna('')
bantry_bay_reviews.head()

,hotel_id,source_id,hotel_name,source_name,positive review,negative review,review rating,reviewer name,reviewer country,review sentiment,reviewer check in date,review created date,apartment type,number of nights stay,group type,review feedback,combined_review
0,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,"great location, nice staff, excellent breakfast",NaN,10.0,Peter,Slovakia,NaN,September 2024,"September 19, 2024",Standard Studio Sea View,6,Group,"Dear Peter,\n\nThank you for your outstanding ...","Positive: great location, nice staff, excellen..."
1,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,"Big airy light filled rooms, small but nice po...",NaN,9.0,Yvonne,Ireland,NaN,February 2025,"February 18, 2025",Standard Studio,4,Couple,NaN,"Positive: Big airy light filled rooms, small b..."
2,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,The place is really nice. We had great view ov...,Could have had a couple of chairs on the balcony.,9.0,Lena,Sweden,NaN,February 2025,"February 18, 2025",Standard Studio Sea View,2,Family,NaN,Positive: The place is really nice. We had gre...
3,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,Everything you need is at the hotel and the lo...,NaN,10.0,Alexis,South Africa,NaN,February 2025,"February 17, 2025",Standard Studio Sea View,3,Couple,"Dear Alexis,\n\nThank you for your fantastic r...",Positive: Everything you need is at the hotel ...
4,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,Great spot for a last minute trip,NaN,8.0,Mohsen,United Kingdom,NaN,February 2025,"February 17, 2025",Standard Studio Sea View,3,Couple,"Dear Mohsen,\n\nThank you for your review! We’...",Positive: Great spot for a last minute trip Ne...

In [13]:
bantry_bay_reviews['review sentiment'] = bantry_bay_reviews['combined_review'].apply(analyze_sentiment)

In [14]:
bantry_bay_reviews

,hotel_id,source_id,hotel_name,source_name,positive review,negative review,review rating,reviewer name,reviewer country,review sentiment,reviewer check in date,review created date,apartment type,number of nights stay,group type,review feedback,combined_review
0,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,"great location, nice staff, excellent breakfast",NaN,10.0,Peter,Slovakia,joy,September 2024,"September 19, 2024",Standard Studio Sea View,6,Group,"Dear Peter,\n\nThank you for your outstanding ...","Positive: great location, nice staff, excellen..."
1,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,"Big airy light filled rooms, small but nice po...",NaN,9.0,Yvonne,Ireland,joy,February 2025,"February 18, 2025",Standard Studio,4,Couple,NaN,"Positive: Big airy light filled rooms, small b..."
2,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,The place is really nice. We had great view ov...,Could have had a couple of chairs on the balcony.,9.0,Lena,Sweden,joy,February 2025,"February 18, 2025",Standard Studio Sea View,2,Family,NaN,Positive: The place is really nice. We had gre...
3,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,Everything you need is at the hotel and the lo...,NaN,10.0,Alexis,South Africa,joy,February 2025,"February 17, 2025",Standard Studio Sea View,3,Couple,"Dear Alexis,\n\nThank you for your fantastic r...",Positive: Everything you need is at the hotel ...
4,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,Great spot for a last minute trip,NaN,8.0,Mohsen,United Kingdom,joy,February 2025,"February 17, 2025",Standard Studio Sea View,3,Couple,"Dear Mohsen,\n\nThank you for your review! We’...",Positive: Great spot for a last minute trip Ne...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1911,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,NaN,NaN,4.0,Sulaiman,Saudi Arabia,neutral,July 2023,"August 3, 2023",Penthouse Studio,1,Couple,NaN,Positive: Negative:
1912,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,NaN,NaN,4.0,Leena,Finland,neutral,February 2023,"March 3, 2023",Deluxe Suite,2,Couple,NaN,Positive: Negative:
1913,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,NaN,NaN,6.0,Manuela,Angola,neutral,November 2022,"December 24, 2022",Deluxe Suite,5,Solo traveler,NaN,Positive: Negative:
1914,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,NaN,NaN,10.0,Anonymous,Argentina,neutral,November 2022,"November 12, 2022",Penthouse Suite with Sea View,1,Couple,NaN,Positive: Negative:
1915,b8e318bb-dade-45e5-b87a-b8359f077a2d,25e89862-0a2c-4d53-900a-6cb3300c4268,Bantry Aparthhotel by Totalstay,booking.com,NaN,NaN,9.0,Anonymous,Finland,neutral,August 2022,"August 27, 2022",Suite,3,Couple,NaN,Positive: Negative:

In [ ]:
bantry_bay_reviews.to_csv('output/bantry_aparthotel.csv', index=False)